@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a mi HOJA DE VIDA</h1>
    <p>Hola, mi nombre es Adrian, pero me puedes llamar Presi</p>
</div>
