@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <!-- ATAJO PARA COMENTAR COMO LO DE ABAJO: CTRL + K + C -->
    @* <h1 class="display-4">Tareas asignadas</h1> *@
    <h1 class="display-4">TAREAS ASIGNADAS</h1>  
    <div class="row">
        <div class="col-3">
            Nombre tarea
        </div>
        <div class="col-3">
            Fecha de Vencimiento
        </div>
        <div class="col-3">
            Estado
        </div>
        <div class="col-3">
            Acciones
        </div>
    </div>

    <!-- Se debe realizar paginacion por estos motivos
    1. Para seccionarla
    2. Para no hacer scroll infinito
    3. Para que no se sature la pagina
    <table border="1">
        <thead>
            <th>Nombre Tarea</th>
            <th>Fecha de Vencimiento</th>
            <th>Estado</th>
            <th>Acciones</th>
        </thead>
    </table>
    -->
</div>
