<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRazorPages_by_Adrian_Layme</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/WebRazorPages1.styles.css" asp-append-version="true" />
    <!-- Link para traer iconos de internet -->
    
</head>
<body>
    <div class="app">
        <header class="header">
            <h1 class="header__titulo">MP MiPanel</h1>
            <button id="btnToggle" class="header__toggle">☰</button>
        </header>

        <main class="main">
            @RenderBody()
        </main>       

        <footer class="footer">
            <p class="footer__texto">Este proyecto es by Adrian Layme</p>
        </footer>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/panel.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>